<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Holiday calculation guidance" />
        <!-- x-release-please-start-version -->
        <meta name="app-version" content="3.4.3" />
        <!-- x-release-please-end -->
        <meta
            name="robots"
            content="noindex, nofollow, noarchive, nosnippet, noimageindex"
        />
        <meta name="theme-color" content="#2b2a27" />
        <script>
            ;(() => {
                const script = document.createElement('script')
                if (!('noModule' in script)) {
                    document.documentElement.classList.add('no-esm')
                }
            })()
        </script>
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="stylesheet" href="styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&amp;display=swap"
            rel="stylesheet"
        />
        <title>Hourly &amp; Salary Holiday Pay Explained</title>
        <link rel="icon" href="/icons/manifest-icon-192.maskable.png" />
        <link rel="apple-touch-icon" href="/icons/apple-icon-180.png" />
        <meta name="mobile-web-app-capable" content="yes" />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2048-2732.png"
            media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2732-2048.png"
            media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1668-2388.png"
            media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2388-1668.png"
            media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1536-2048.png"
            media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2048-1536.png"
            media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1640-2360.png"
            media="(device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2360-1640.png"
            media="(device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1668-2224.png"
            media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2224-1668.png"
            media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1620-2160.png"
            media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2160-1620.png"
            media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1488-2266.png"
            media="(device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2266-1488.png"
            media="(device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1320-2868.png"
            media="(device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2868-1320.png"
            media="(device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1206-2622.png"
            media="(device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2622-1206.png"
            media="(device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1260-2736.png"
            media="(device-width: 420px) and (device-height: 912px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2736-1260.png"
            media="(device-width: 420px) and (device-height: 912px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1290-2796.png"
            media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2796-1290.png"
            media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1179-2556.png"
            media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2556-1179.png"
            media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1170-2532.png"
            media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2532-1170.png"
            media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1284-2778.png"
            media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2778-1284.png"
            media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1125-2436.png"
            media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2436-1125.png"
            media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1242-2688.png"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2688-1242.png"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-828-1792.png"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1792-828.png"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1242-2208.png"
            media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-2208-1242.png"
            media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-750-1334.png"
            media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1334-750.png"
            media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-640-1136.png"
            media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/icons/apple-splash-1136-640.png"
            media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        />
    </head>
    <body>
        <div class="offline-banner" aria-live="polite" aria-atomic="true">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
            >
                <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
                <path
                    fill="currentColor"
                    d="M23.21 8.24A16.87 16.87 0 0 0 12 4C7.7 4 3.78 5.6.79 8.24C.35 8.63.32 9.3.73 9.71l10.56 10.58c.19.19.45.29.7.29V14c0-1.1.9-2 2-2h6.99l2.29-2.29c.41-.41.38-1.08-.06-1.47"
                />
                <path
                    fill="currentColor"
                    d="M20.3 14.71a.996.996 0 0 0-1.41 0l-1.39 1.38l-1.39-1.38a.996.996 0 1 0-1.41 1.41l1.39 1.39l-1.39 1.39a.996.996 0 1 0 1.41 1.41l1.39-1.38l1.39 1.38a.996.996 0 1 0 1.41-1.41l-1.38-1.39l1.38-1.39a.996.996 0 0 0 0-1.41"
                />
            </svg>
            Offline — some sharing services may not be available.
        </div>
        <div
            class="update-banner no-esm-banner"
            aria-live="polite"
            aria-atomic="true"
        >
            <p>
                <strong>Unsupported browser.</strong> This app requires a
                browser that supports JavaScript modules. Please update your
                browser to continue.
            </p>
            <a
                class="primary on-dk"
                href="https://browsehappy.com/"
                target="_blank"
                rel="noopener"
            >
                Update browser
            </a>
        </div>
        <div
            class="update-banner"
            aria-live="polite"
            aria-atomic="true"
            id="update-banner"
            hidden
        >
            <p>Update available. Refresh to load the latest version.</p>
            <button
                class="primary on-dk"
                type="button"
                id="update-banner-button"
                disabled
            >
                Download resources...
            </button>
        </div>
        <main id="app" class="app-shell">
            <header class="app-header">
                <div>
                    <p class="eyebrow">Offline &amp; Anonymous</p>
                    <h1>Anonymous Payroll Reporter</h1>
                    <p class="subhead">
                        All processing happens in the browser — your data never
                        leaves your computer.
                    </p>
                    <div class="pill-row">
                        <span
                            v-if="activePayrollPill"
                            class="pill"
                            :class="activePayrollPill.className"
                            v-cloak
                        >
                            {{ activePayrollPill.label }}
                        </span>
                        <span
                            v-if="activePensionPill"
                            class="pill"
                            :class="activePensionPill.className"
                            v-cloak
                        >
                            {{ activePensionPill.label }}
                        </span>
                    </div>
                </div>
                <button
                    class="primary accent"
                    type="button"
                    @click="openAbout"
                    aria-haspopup="dialog"
                >
                    About
                </button>
            </header>
            <app-breadcrumb current="Holiday Calculations"></app-breadcrumb>
            <section class="page-hero">
                <header>
                    <h2>Hourly &amp; Salary Holiday Pay Explained</h2>
                </header>
                <p>
                    Understand your holiday pay entitlement, or use the
                    calculator below to estimate what you should have been paid.
                </p>
            </section>
            <section class="card hol-calc-page">
                <header>
                    <h3>Holiday Pay Calculator (Hourly Workers)</h3>
                </header>
                <div class="notice no-left-border">
                    <p>
                        For hourly workers whose pay or hours vary — including
                        irregular-hours, zero-hours, and anyone receiving
                        overtime, bonuses, or commission — holiday pay must be
                        based on average earnings over the
                        <strong>52 paid weeks</strong>.
                    </p>
                    <p>
                        This calculator is for when the reporter flags your
                        holiday pay for further review, or if you want to
                        manually verify your holiday pay.
                    </p>
                </div>
                <details name="holidayCal">
                    <summary>
                        <h4>What questions does it answer?</h4>
                    </summary>
                    <div class="notice info no-left-border">
                        <ol>
                            <li>
                                <b>"What is a week of holiday worth to me?"</b>
                                <br />
                                The correct figure under UK law (average weekly
                                pay from the last 52 paid weeks). This applies
                                to every irregular hours worker regardless of
                                schedule.
                            </li>
                            <li>
                                <b>
                                    "For the X days I took off, how many hours
                                    and how much pay should I have received?"
                                </b>
                                <br />
                                A convenience estimate for workers who know
                                their typical days per week, letting them
                                cross-check what the payslip shows for a
                                specific holiday period.
                            </li>
                        </ol>
                    </div>
                </details>
                <details name="holidayCal">
                    <summary>
                        <h4>Before you start — gather your data</h4>
                    </summary>
                    <div class="notice info no-left-border">
                        <ol>
                            <li>
                                Identify your last
                                <b>52 weeks of normal pay</b> — not necessarily
                                the last 52 calendar weeks. Skip any week where
                                you received only SSP, SMP, SPP, adoption pay,
                                or no pay at all, replacing it with the next
                                earlier paid week (going back up to
                                <b>104 weeks</b> if needed).
                            </li>
                            <li>
                                <b>Flat rate?</b> Add up your total hours across
                                those 52 weeks and use
                                <b>Hours &amp; rate</b> mode. Include overtime
                                hours only if they are paid at the same rate as
                                ordinary hours.
                            </li>
                            <li>
                                <b>Variable pay?</b> If you had premium
                                overtime, bonuses, commission, or a pay rise
                                during this period, add up your total gross
                                earnings (before tax and deductions) for those
                                same 52 eligible weeks and use
                                <b>Total Gross Pay</b> mode instead.
                            </li>
                        </ol>
                    </div>

                    <p class="notice">
                        The legally correct entitlement is
                        <b>a week's pay per week of holiday</b>. The per-day
                        figures are a convenience estimate only.
                    </p>
                </details>

                <button
                    type="button"
                    class="primary accent-green hol-calc-btn"
                    @click="openHolCalc"
                    aria-haspopup="dialog"
                >
                    Holiday Pay Calculator
                </button>
            </section>
            <section class="hol-guidance">
                <header>
                    <h2>How holidays are calculated</h2>
                </header>
                <details name="guidance" open="" class="notice no-left-border">
                    <summary>
                        <h3>Hourly &amp; Irregular Hours Workers</h3>
                    </summary>
                    <div class="card">
                        <header>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                            >
                                <!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path
                                    fill="currentColor"
                                    d="M21 8q.8 0 1.4.6T23 10v2q0 .175-.038.375t-.112.375l-3 7.05q-.225.5-.75.85T18 21h-8q-.825 0-1.412-.587T8 19V8.825q0-.4.163-.762t.437-.638l5.425-5.4q.375-.35.888-.425t.987.175t.688.7t.087.925L15.55 8zM4 21q-.825 0-1.412-.587T2 19v-9q0-.825.588-1.412T4 8t1.413.588T6 10v9q0 .825-.587 1.413T4 21"
                                />
                            </svg>
                            <h3>What you're entitled to</h3>
                        </header>
                        <p>
                            From April 2020, irregular-hours and part-year
                            workers must have their holiday pay calculated as
                            their average weekly pay over the previous 52 paid
                            weeks — not a flat rate. You're entitled to a
                            minimum of
                            <strong>5.6 weeks' paid holiday per year</strong>
                            (28 days for a standard 5-day week; proportionally
                            fewer for part-time workers).
                        </p>
                        <p>
                            If you work
                            <strong>fixed hours at a fixed rate</strong>, your
                            holiday pay is simply your normal weekly pay — no
                            averaging is needed.
                        </p>
                    </div>
                    <div class="card">
                        <header>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                            >
                                <!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path
                                    fill="currentColor"
                                    d="M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V3q0-.425.288-.712T7 2t.713.288T8 3v1h8V3q0-.425.288-.712T17 2t.713.288T18 3v1h1q.825 0 1.413.588T21 6v6.375q0 .425-.288.713t-.712.287t-.712-.288t-.288-.712V10H5v10h6.225q.425 0 .7.288T12.2 21t-.287.713T11.2 22zm11.525-2.325l3.55-3.55q.3-.3.7-.3t.7.3t.3.713t-.3.712L17.25 21.8q-.3.3-.712.3t-.713-.3L13.7 19.675q-.3-.3-.3-.712t.3-.713t.713-.3t.712.3z"
                                />
                            </svg>
                            <h3>How the report reads your holiday hours</h3>
                        </header>
                        <p>
                            Unlike salaried payslips, hourly payslips include a
                            dedicated line item showing holiday hours and the
                            rate applied to them. The report reads these
                            directly — no estimation from a monetary amount is
                            needed.
                        </p>
                        <p>
                            The report then checks whether the rate on that
                            holiday line is correct. Use the Holiday Pay
                            Calculator above to work out what your rate should
                            be based on your 52-week average.
                        </p>
                    </div>
                    <div class="card">
                        <header>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                            >
                                <!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path
                                    fill="currentColor"
                                    d="M6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h8.075q.45 0 .85.188t.675.537l3.925 4.725q.225.275.35.6t.125.675V17.8q0 .5-.462.688t-.813-.163L15.45 15q.275-.425.413-.925T16 13q0-1.65-1.175-2.825T12 9t-2.825 1.175T8 13t1.175 2.825T12 17q.575 0 1.075-.137T14 16.45l3.875 3.85q.475.475.225 1.088t-.925.612zm6-7q-.825 0-1.412-.587T10 13t.588-1.412T12 11t1.413.588T14 13t-.587 1.413T12 15"
                                />
                            </svg>
                            <h3>What the report checks</h3>
                        </header>
                        <p>
                            When you run a report, the tool looks for two types
                            of potential underpayment on any payslip containing
                            holiday hours:
                        </p>
                        <ul>
                            <li>
                                <strong>Same-payslip check.</strong> Is the rate
                                applied to your holiday hours lower than your
                                basic hourly rate on the same payslip?
                            </li>
                            <li>
                                <strong>52-week rolling average check.</strong>
                                Is the implied holiday rate lower than your
                                average hourly rate over the prior 52 paid
                                weeks?
                            </li>
                        </ul>
                        <p>
                            A flag means the figures are worth investigating —
                            not that you were definitely underpaid.
                        </p>
                    </div>
                    <div class="card">
                        <header>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                            >
                                <!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path
                                    fill="currentColor"
                                    d="M12 18q.65 0 1.075-.425T13.5 16.5t-.425-1.075T12 15t-1.075.425T10.5 16.5t.425 1.075T12 18m0-4.5q.65 0 1.075-.425T13.5 12t-.425-1.075T12 10.5t-1.075.425T10.5 12t.425 1.075T12 13.5M12 9q.65 0 1.075-.425T13.5 7.5t-.425-1.075T12 6t-1.075.425T10.5 7.5t.425 1.075T12 9m-5 6v-1.15q-1.025-.275-1.8-1.012t-1.05-1.763q-.05-.425.225-.75t.7-.325H7V8.85q-1.025-.275-1.8-1.012T4.15 6.075q-.05-.425.225-.75t.7-.325H7q0-.825.588-1.412T9 3h6q.825 0 1.413.588T17 5h1.925q.425 0 .7.325t.225.75Q19.575 7.1 18.8 7.838T17 8.85V10h1.925q.425 0 .7.325t.225.75q-.275 1.025-1.05 1.763T17 13.85V15h1.925q.425 0 .7.325t.225.75q-.275 1.025-1.05 1.763T17 18.85V19q0 .825-.587 1.413T15 21H9q-.825 0-1.412-.587T7 19v-.15q-1.025-.275-1.8-1.012t-1.05-1.763q-.05-.425.225-.75t.7-.325zm2 4h6V5H9zm0 0V5z"
                                />
                            </svg>
                            <h3>Known limitations</h3>
                        </header>
                        <ul>
                            <li>
                                <strong
                                    >Monthly payslips, not weekly
                                    records.</strong
                                >
                                The statutory calculation works week by week.
                                Because payslips are monthly, any month
                                containing statutory sick or maternity pay is
                                excluded in full — the tool cannot split it week
                                by week. This is conservative but means slightly
                                fewer periods may be included in the reference
                                average.
                            </li>
                            <li>
                                <strong
                                    >Overtime and regular bonuses are not
                                    included.</strong
                                >
                                The report uses only your basic hourly pay to
                                build the reference average. If you regularly
                                receive overtime or contractual commission, your
                                true average weekly earnings will be higher —
                                and the report may miss genuine underpayment.
                            </li>
                            <li>
                                <strong
                                    >No flag does not mean no problem.</strong
                                >
                                If you regularly receive overtime or bonuses,
                                verify your holiday pay manually against your
                                full average weekly earnings.
                            </li>
                        </ul>
                    </div>
                </details>
                <details name="guidance" class="notice no-left-border">
                    <summary>
                        <h3>Salaried Workers</h3>
                    </summary>
                    <div class="card">
                        <header>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                            >
                                <!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path
                                    fill="currentColor"
                                    d="M21 8q.8 0 1.4.6T23 10v2q0 .175-.038.375t-.112.375l-3 7.05q-.225.5-.75.85T18 21h-8q-.825 0-1.412-.587T8 19V8.825q0-.4.163-.762t.437-.638l5.425-5.4q.375-.35.888-.425t.987.175t.688.7t.087.925L15.55 8zM4 21q-.825 0-1.412-.587T2 19v-9q0-.825.588-1.412T4 8t1.413.588T6 10v9q0 .825-.587 1.413T4 21"
                                />
                            </svg>
                            <h3>What you're entitled to</h3>
                        </header>
                        <p>
                            Salaried workers are entitled to a minimum of
                            <strong>5.6 weeks' paid holiday per year</strong>
                            — 28 days for a standard 5-day week, proportionally
                            fewer for part-time. Your holiday pay is simply your
                            <strong>normal salary</strong>: it continues
                            unchanged during annual leave. The key question is
                            not <em>at what rate</em> you were paid, but
                            <em>how many days</em> were taken and whether your
                            entitlement remains.
                        </p>
                    </div>
                    <div class="card">
                        <header>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                            >
                                <!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path
                                    fill="currentColor"
                                    d="M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V3q0-.425.288-.712T7 2t.713.288T8 3v1h8V3q0-.425.288-.712T17 2t.713.288T18 3v1h1q.825 0 1.413.588T21 6v6.375q0 .425-.288.713t-.712.287t-.712-.288t-.288-.712V10H5v10h6.225q.425 0 .7.288T12.2 21t-.287.713T11.2 22zm11.525-2.325l3.55-3.55q.3-.3.7-.3t.7.3t.3.713t-.3.712L17.25 21.8q-.3.3-.712.3t-.713-.3L13.7 19.675q-.3-.3-.3-.712t.3-.713t.713-.3t.712.3z"
                                />
                            </svg>
                            <h3>How the report estimates days taken</h3>
                        </header>
                        <p>
                            Sage UK payslips record holiday pay as a monetary
                            amount only — no day count is included. The report
                            estimates days taken by working backwards from the
                            amount:
                        </p>
                        <ol>
                            <li>
                                It derives your daily rate from your total basic
                                salary for the year.
                            </li>
                            <li>
                                It divides the holiday pay amount by that daily
                                rate to estimate days taken.
                            </li>
                            <li>
                                It subtracts days taken from your entitlement to
                                show days remaining.
                            </li>
                        </ol>
                        <p>
                            Results are approximate (shown with ≈). Make sure
                            <strong>typical days per week</strong> is set
                            correctly in the worker profile — the default is 5,
                            which will produce incorrect results for part-time
                            workers.
                        </p>
                    </div>
                    <div class="card">
                        <header>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                            >
                                <!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                                <path
                                    fill="currentColor"
                                    d="M2.725 21q-.275 0-.5-.137t-.35-.363t-.137-.488t.137-.512l9.25-16q.15-.25.388-.375T12 3t.488.125t.387.375l9.25 16q.15.25.138.513t-.138.487t-.35.363t-.5.137zm1.725-2h15.1L12 6zM12 18q.425 0 .713-.288T13 17t-.288-.712T12 16t-.712.288T11 17t.288.713T12 18m0-3q.425 0 .713-.288T13 14v-3q0-.425-.288-.712T12 10t-.712.288T11 11v3q0 .425.288.713T12 15m0-2.5"
                                />
                            </svg>
                            <h3>Known limitations</h3>
                        </header>
                        <ul>
                            <li>
                                <strong>Constant salary assumed.</strong>
                                The daily rate is derived from your total salary
                                for the year. A mid-year pay rise blends two
                                rates together, which can slightly skew the day
                                estimate. If you had a pay rise mid-year, you
                                may want to run two reports, one for each
                                period.
                            </li>
                            <li>
                                <strong>No rate underpayment check.</strong>
                                For salaried workers your salary is your holiday
                                pay, so the report does not flag whether the
                                rate itself was correct.
                            </li>
                            <li>
                                <strong>Part-time settings matter.</strong>
                                If you work part-time and the "typical days per
                                week" is left at the default of 5, the day count
                                will be significantly wrong. Set it to your
                                actual contracted days before running the
                                report.
                            </li>
                        </ul>
                    </div>
                </details>
            </section>
            <section class="hol-resources">
                <header>
                    <h2>Resources</h2>
                </header>
                <div class="card">
                    <header>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="32"
                            height="32"
                            viewBox="0 0 24 24"
                        >
                            <!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
                            <path
                                fill="currentColor"
                                d="M2.725 21q-.275 0-.5-.137t-.35-.363t-.137-.488t.137-.512l9.25-16q.15-.25.388-.375T12 3t.488.125t.387.375l9.25 16q.15.25.138.513t-.138.487t-.35.363t-.5.137zm1.725-2h15.1L12 6zM12 18q.425 0 .713-.288T13 17t-.288-.712T12 16t-.712.288T11 17t.288.713T12 18m0-3q.425 0 .713-.288T13 14v-3q0-.425-.288-.712T12 10t-.712.288T11 11v3q0 .425.288.713T12 15m0-2.5"
                            />
                        </svg>
                        <h3>If you think you've been underpaid</h3>
                    </header>
                    <ul>
                        <li>
                            Ask your employer for their
                            <strong>week-by-week pay records</strong>. Under the
                            Employment Rights Act 1996, they are legally
                            required to provide these on request.
                        </li>
                        <li>
                            Contact
                            <a
                                href="https://www.acas.org.uk/"
                                target="_blank"
                                rel="noopener"
                                >ACAS</a
                            >
                            for free, impartial advice on pay disputes.
                        </li>
                        <li>
                            Seek help from
                            <a
                                href="https://www.citizensadvice.org.uk/"
                                target="_blank"
                                rel="noopener"
                                >Citizens Advice</a
                            >
                            if you're unsure how to proceed.
                        </li>
                    </ul>
                    <h3>Other resources</h3>
                    <ul>
                        <li>
                            ACAS:
                            <a
                                href="https://www.acas.org.uk/checking-holiday-entitlement/calculating-holiday-pay"
                                target="_blank"
                                rel="noopener"
                                >Calculating Holiday Pay</a
                            >
                        </li>
                        <li>
                            ACAS:
                            <a
                                href="https://www.acas.org.uk/irregular-hours-and-part-year-workers/calculating-holiday-pay"
                                target="_blank"
                                rel="noopener"
                                >Holiday pay for irregular hours and part-year
                                workers</a
                            >
                        </li>
                        <li>
                            GOV.UK:
                            <a
                                href="https://www.gov.uk/calculate-your-holiday-entitlement"
                                target="_blank"
                                rel="noopener"
                                >Calculate your holiday entitlement</a
                            >
                        </li>
                    </ul>
                </div>
            </section>
            <dialog
                class="modal-dialog calc-modal"
                ref="holCalcDialog"
                aria-label="Holiday Pay Calculator"
                @click="onHolCalcBackdropClick"
                @close="onHolCalcDialogClose"
            >
                <div class="modal-header">
                    <h2>Holiday Pay Calculator</h2>
                    <button
                        class="modal-close ghost"
                        type="button"
                        @click="closeHolCalc"
                        aria-label="Close holiday pay calculator"
                        autofocus
                    >
                        Close
                    </button>
                </div>
                <div class="modal-content">
                    <div class="hol-calc calc-bg">
                        <div class="field hol-calc-mode-field">
                            <span><b>Calculate using</b></span>
                            <div class="radio-toggle">
                                <label class="radio-option">
                                    <input
                                        type="radio"
                                        name="holCalcMode"
                                        value="hourly"
                                        v-model="holCalcMode"
                                        id="hol-calc-mode-hourly"
                                    />
                                    <span>Hours &amp; rate</span>
                                </label>
                                <label class="radio-option">
                                    <input
                                        type="radio"
                                        name="holCalcMode"
                                        value="gross"
                                        v-model="holCalcMode"
                                    />
                                    <span>Total gross pay</span>
                                </label>
                            </div>
                            <span class="field-hint notice info"
                                >Use <b>'Total Gross Pay'</b> (your pay before
                                deductions) if you have recieved bonus,
                                commissions, or if your hourly wage has
                                increased across the 52 week period.</span
                            >
                        </div>
                        <label class="field">
                            Total hours worked <br />(over 52 paid weeks)
                            <input
                                type="number"
                                min="0"
                                step="0.5"
                                placeholder="e.g. 800"
                                autocomplete="off"
                                v-model.number="holCalcHours"
                            />
                        </label>
                        <label class="field" v-show="holCalcMode === 'hourly'">
                            <br />Hourly rate (£)
                            <input
                                type="number"
                                min="0"
                                step="0.01"
                                placeholder="e.g. 12.71"
                                autocomplete="off"
                                v-model.number="holCalcRate"
                            />
                        </label>
                        <label class="field" v-show="holCalcMode === 'gross'">
                            Total gross pay<br />
                            (over 52 paid weeks) (£)
                            <input
                                type="number"
                                min="0"
                                step="0.01"
                                placeholder="e.g. 18500"
                                autocomplete="off"
                                v-model.number="holCalcGross"
                            />
                        </label>
                        <label class="field">
                            Typical working days per week
                            <input
                                type="number"
                                min="0"
                                max="7"
                                step="1"
                                placeholder="0 if unknown"
                                autocomplete="off"
                                v-model.number="holCalcWorkDays"
                            />
                        </label>
                        <label class="field">
                            Holiday days taken
                            <input
                                type="number"
                                min="1"
                                step="1"
                                placeholder="e.g. 2"
                                autocomplete="off"
                                v-model.number="holCalcDaysTaken"
                                :disabled="holCalcWorkDays === 0"
                            />
                        </label>
                        <div class="hol-calc-result field-hint notice info">
                            <i
                                >If you do not work a regular schedule choose
                                <b>'0'</b> here.</i
                            >
                        </div>
                        <div class="hol-calc-result notice no-left-border">
                            <span>Avg hours per week of holiday:</span>
                            <strong>{{ holCalcAvgWeekly }}</strong>
                        </div>
                        <div class="hol-calc-result notice no-left-border">
                            <span>Expected £ per week of holiday:</span>
                            <strong v-show="holCalcMode === 'hourly'"
                                >{{ holCalcExpectedWeeklyPay }}</strong
                            >
                            <strong v-show="holCalcMode === 'gross'"
                                >{{ holCalcGrossWeeklyPay }}</strong
                            >
                        </div>
                        <div class="hol-calc-result notice no-left-border">
                            <span
                                >Est. hours for {{ holCalcDaysTaken }}
                                day(s)†:</span
                            >
                            <strong>{{ holCalcExpectedHours }}</strong>
                        </div>
                        <div class="hol-calc-result notice no-left-border">
                            <span
                                >Est. £ for {{ holCalcDaysTaken }}
                                day(s)†:</span
                            >
                            <strong v-show="holCalcMode === 'hourly'"
                                >{{ holCalcExpectedPay }}</strong
                            >
                            <strong v-show="holCalcMode === 'gross'"
                                >{{ holCalcGrossExpectedPay }}</strong
                            >
                        </div>
                        <div class="hol-calc-result field-hint notice info">
                            <p>
                                † The HMRC rules state that
                                <b
                                    >a week of holiday pay should equiate to a
                                    52 week average of regular pay</b
                                >. These per-day figures are a convenience
                                estimate only.
                            </p>
                        </div>
                    </div>
                </div>
            </dialog>
            <dialog
                class="modal-dialog"
                ref="aboutDialog"
                aria-label="About"
                @click="onAboutBackdropClick"
                @close="onAboutDialogClose"
            >
                <about-content :app-version="appVersion" @close="closeAbout" />
            </dialog>
        </main>
        <script>
            ;(() => {
                const banner = document.getElementById('update-banner')
                const button = document.getElementById('update-banner-button')
                if (!banner || !button) {
                    return
                }
                banner.style.display = 'none'
                const bannerDismissKey = 'payroll_sw_updated'
                const showBanner = () => {
                    banner.hidden = false
                    banner.style.display = 'flex'
                    button.disabled = false
                    button.textContent = 'Refresh now'
                }
                if (localStorage.getItem(bannerDismissKey) === 'true') {
                    banner.style.display = 'none'
                    localStorage.removeItem(bannerDismissKey)
                }

                const applyUpdate = async () => {
                    if (!('serviceWorker' in navigator)) {
                        window.location.reload()
                        return
                    }
                    const registration =
                        await navigator.serviceWorker.getRegistration()
                    if (registration?.waiting) {
                        registration.waiting.postMessage({
                            type: 'SKIP_WAITING',
                        })
                        return
                    }
                    if (registration) {
                        registration.update()
                    }
                    window.location.reload()
                }

                const debugLevel = new URLSearchParams(
                    window.location.search
                ).get('debug')
                const isDevHost =
                    window.location.hostname === 'localhost' ||
                    window.location.hostname === '127.0.0.1'
                if (isDevHost && debugLevel === '2') {
                    showBanner()
                }

                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker.addEventListener(
                        'controllerchange',
                        () => {
                            banner.style.display = 'none'
                            localStorage.setItem(bannerDismissKey, 'true')
                        }
                    )
                    navigator.serviceWorker
                        .getRegistration()
                        .then((registration) => {
                            if (!registration) {
                                return
                            }
                            if (registration.waiting) {
                                showBanner()
                                return
                            }
                            registration.addEventListener('updatefound', () => {
                                const newWorker = registration.installing
                                if (!newWorker) {
                                    return
                                }
                                newWorker.addEventListener(
                                    'statechange',
                                    () => {
                                        if (
                                            newWorker.state === 'installed' &&
                                            navigator.serviceWorker.controller
                                        ) {
                                            showBanner()
                                        }
                                    }
                                )
                            })
                        })
                }

                button.addEventListener('click', () => {
                    if (button.disabled) {
                        return
                    }
                    applyUpdate()
                })
            })()
        </script>
        <script type="module" src="app.js"></script>
    </body>
</html>
